/* Footer Styles*/
.footer {
    background-color: #659f8f;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 100px; 
    margin: 10px;
    
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 80px;
}

h2{
    padding-top: 15px;
    padding-bottom: 15px;
}
/* Codespace Logo */

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

/* Horizontal Line */
.footer-divider{
    height: 2px;
    background-color: coral;
    border-color: coral;
    margin: 25px 25px
}


/* Subscribe Section */
.subscribe{
    flex: 1;
    min-width: 150px;
}

.subscribe-button{
    background-color: coral;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
.subscribe-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.subscribe-input {
    border-radius: 5px;
    padding: 10px;
}

/* Quick links */

.footer-links {
flex: 1;
    min-width: 150px;

}

    



/*Technology Section*/
.technologies-used {
    flex: 1;
    min-width: 150px;


}